.collection-preview {
  display: flex;
  flex-direction: column;
  margin: 1rem 0px;
  
  .title {
    font-size: 28px;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 1rem;
  }

  .preview {
    display: flex;
    flex-direction: column;
  }
}
