.collection-preview {
  display: flex;
  flex-direction: column;
  margin: 1rem 0px;
  
  .title {
    font-size: 28px;
    text-align: center;
    border-bottom: 1px solid black;
    padding: 1rem;
  }

  .preview {
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    grid-row-gap: 1rem;
    padding: 1rem;
  }

}
