.collection-item {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
  padding: 0.1rem;
  position: relative;
  box-shadow: 12px 10px 15px 1px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
 
  .img-container {

    .image {
      display: block;
      height: 300px;
      width: 100%;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
      transition: all 0.3s ease-in-out;
    }

    .price-top {
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.6);
      color: #fff;
      padding: 0.3rem 0.6rem 0.5rem;
      border-bottom-right-radius: 1rem;
      font-size: 0.8rem;
      text-align: center;
      transition: all 0.3s ease-in-out;

      h6 {
        margin-bottom: 0;
        font-size: 1.4rem;
        font-weight: 300;
        letter-spacing: 4px;
      }
    }

    //Inside Custom Button component,there is a button with class [custom-button] ,
    // on hovering ,addtocart button appears

       .custom-button{
         position: absolute;
         top: 25%;
         left: 25%;
         display: none;
         background-image: linear-gradient(to right, #c76767 0%, #fe9540 100%);
         border: none;
         border-radius: 2rem;
         transition: all 0.3s ease-in-out;
        }

        .know-more{
         cursor: pointer;
         color: #333;
         position: absolute;
         top: 50%;
         left: 32%;
         font-size: 13px;
         font-weight: 700;
         padding: 1rem;
         display: none;
         background-image: linear-gradient(to right, #c76767 0%, #fe9540 100%);
         border: none;
         border-radius: 2rem;
         transition: all 0.3s ease-in-out;

         &:hover{
           span{
             color: #fff;
           }
         }
        }


  }


  .collection-footer {
    background: #cfcfcf;
    padding: 0.5rem 0;
    width: 100%;
    text-align: center;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 3px;
  }






   &:hover {
    box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;

    .image {
      opacity: 0.4;
    }
    .price-top {
      opacity: 0;
    }
 
      .custom-button{
        z-index: 2;
        display: flex;
       }

      .know-more{
        z-index: 2;
        display: inline-block;
       }


  }
}
