.feature{
  text-align: center;
  
  
  &-products{
    display: grid;
    max-width: 80vw;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    margin: 0rem auto;
    padding: 1rem;
    grid-row-gap: 1rem;

  }
    
  }