.cart-icon {
  width: 45px;
  height: 45px;
  border-radius: 60%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    var(--linear-1st) 0%,
    var(--linear-2nd) 100%
  );

  .shopping-icon {
    width: 30px;
    height: 30px;
  }

  .item-count {
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    bottom: 4px;
    color: white;
  }
}
