.prop {
  height: 100vh;
  // transition: height 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  .showcase-content {
    visibility: visible;
  }
}

.prop2 {
  height: 20vh;
  // transition: height 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);

  .showcase-content {
    visibility: hidden;
  }
}

/*

header {
  font-size: 10px;
  font-family: "Dosis", sans-serif; 
  width: 100%;
  height: 25vh;
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  position: relative;
  // overflow: hidden;
  // background-color: #333;


  #main-nav {
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;


    .brand {
      font-size: 2.5rem;
      font-weight: 300;
      transform: translateX(-100rem);
      animation: slideIn 5s forwards;
      letter-spacing: 0.4rem;

      span {
        color:var(--secondary-color);;
      }
          div{
  height: 3px;
  width: 100%;
  background:#ffa908;
  display: block;
  margin-bottom: 1rem;
}
    }
      

    ul {
      display: flex;

      li:nth-child(1) {
        animation-delay: 0s;
        
      }

      li:nth-child(2) {
        animation-delay: 0.5s;
      }

      li:nth-child(3) {
        animation-delay: 1s;
      }

      li:nth-child(4) {
        animation-delay: 1.5s;
      }
      li:nth-child(5) {
        animation-delay: 2s;
      }
      li:nth-child(6) {
        animation-delay: 2s;
      }
      li:nth-child(7) {
        animation-delay: 2s;
      }
    

      
      
      li {
        padding: 1rem 0.2rem;
        transform: translateX(100rem);
        animation: slideIn 2s forwards;
        
        .Link{
          text-decoration: none;
          color: #fff;
          text-transform: uppercase;
          padding-bottom: 0.1rem;
          transition: border-color 0.5s;
          margin: 0 1.5rem;
          position: relative;
          letter-spacing: 2px;
          
          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: var(--secondary-color);
            left: 0;
            transform: scaleX(0);
            transition: all 0.5s;
          }

          &::before {
            top: -80%;
            transform-origin: left;
          }

          &::after {
            bottom: -80%;
            transform-origin: right;
          }

          &:hover::before,
          &:hover::after {
            transform: scaleX(1);
          }

          &.Current {
            border-bottom: 3px solid var(--secondary-color);
          }
        }
      }

      @keyframes slideIn {
        from {
        }
        to {
          transform: translateX(0);
        }
      }

    }
  }








  .showcase-content{
    visibility: hidden;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
 
    .largeHeading{
    font-size: 4rem;
    margin-bottom: 1rem;
    line-height: 1.1;
    transform: translateY(100rem);
    animation: slideIn 2s forwards;
}

 .btn{
   transform: translateY(100rem);
  animation: slideIn 5s forwards;
}





  }


}


*/

header {
  font-size: 10px;
  font-family: "Dosis", sans-serif;
  width: 100%;
  height: 60vh;
  // transition: height 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  position: relative;
  text-align: center;
  // overflow: hidden;
  // background-color: #333;

  #main-nav {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;

    .brand {
      font-size: 2.5rem;
      font-weight: 300;
      letter-spacing: 0.4rem;
      color: var(--secondary-color);
      // transform: translateX(-100rem);
      // animation: slideIn 5s forwards;
      div {
        height: 3px;
        width: 100%;
        background: var(--secondary-color);
        display: block;
        margin-bottom: 1.5rem;
      }
    }

    .header-toggle {
      width: 40px;
      height: 40px;
      border-radius: 60%;
      cursor: pointer;
      background-image: linear-gradient(
        to right,
        var(--linear-1st) 0%,
        var(--linear-2nd) 100%
      );
    }

    ul {
      // li:nth-child(1) {
      //   animation-delay: 0s;

      // }

      // li:nth-child(2) {
      //   animation-delay: 0.5s;
      // }

      // li:nth-child(3) {
      //   animation-delay: 1s;
      // }

      // li:nth-child(4) {
      //   animation-delay: 1.5s;
      // }
      // li:nth-child(5) {
      //   animation-delay: 2s;
      // }
      // li:nth-child(6) {
      //   animation-delay: 2.5s;
      // }
      // li:nth-child(7) {
      //   animation-delay: 3s;
      // }

      li {
        padding: 0.4rem;
        // transform: translateX(100rem);
        // animation: slideIn 2s forwards;

        .Link {
          padding-bottom: 0.1rem;
          transition: border-color 0.5s;
          letter-spacing: 2px;
          position: relative;

          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 4px;
            background-color: var(--secondary-color);
            left: 0;
            // transform: scaleX(0);
            transition: all 0.5s;
          }

          &::before {
            top: -10%;
            // transform-origin: left;
          }

          &::after {
            bottom: -10%;
            // transform-origin: right;
          }

          &:hover::before,
          &:hover::after {
            // transform: scaleX(1);
          }

          &.Current {
            border-bottom: 3px solid var(--secondary-color);
          }
        }
      }

      @keyframes slideIn {
        from {
        }
        to {
          // transform: translateX(0);
        }
      }
    }

    .carticon {
      margin-left: 1.5rem;
    }
  }

  .showcase-content {
    visibility: hidden;
    margin-top: 2.5rem;

    .largeHeading {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      // transform: translateY(100rem);
      // animation: slideIn 2s forwards;
    }

    .btn {
      //  transform: translateY(100rem);
      // animation: slideIn 5s forwards;
    }
  }
}

.signinshowcase,
.categoryoverviewshowcase,
.homepageshowcase,
.checkoutpageshowcase,
.errorpageshowcase {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
}

.signinshowcase {
  background: url("https://images.unsplash.com/photo-1571861432256-cd28dee8c8b5?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
    center/cover no-repeat;
}

.homepageshowcase {
  background: url("https://images.unsplash.com/photo-1576188973526-0e5d7047b0cf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=757&q=80")
    center/cover no-repeat;
}

.categoryoverviewshowcase {
  background: url("https://source.unsplash.com/featured/?clothing,pink,girls,fashion")
    center/cover no-repeat;
}

.checkoutpageshowcase {
  background: url("https://images.unsplash.com/photo-1518596733473-8d07b53d7e05?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80")
    center/cover no-repeat;
}

.errorpageshowcase {
  min-height: 48vh;
  background: url("https://colorlib.com/wp/wp-content/uploads/sites/2/404-error-page-templates.jpg")
    center/cover no-repeat;

  .banner {
    visibility: hidden;
  }
}

.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 1rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 4px;
  // border-radius: 30%;
  h1 {
    font-size: 2.4rem;
    letter-spacing: 6px;
  }
  div {
    width: 60%;
    height: 5px;
    background-image: linear-gradient(to right, #f07109 0%, #fe9540 100%);
    margin: 1rem auto;
  }
  p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
}
