// Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 0.3rem;
  //background: url('../../assets/showcase.jpg') no-repeat center right / cover;
  background-color: #333;

  // Logo
.logo {
  width: 70px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
  margin-left: 4rem;
}


  ul {
    display: flex;
    margin-right: 7rem;

  }

  li {
    padding: 1rem 1.5rem;
  }

  .Link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;


    &:hover {
      border-color: var(--secondary-color);
    }

    &.Current {
      border-color: var(--secondary-color);
    }
  }
}





