/* Utility Classes */
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1.5rem;
  overflow: hidden;
}


.btn{
  display: inline-block;
  color: #fff;
  background-image: linear-gradient(to right, #c76767 0%, #fe9540 100%);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 2rem;
  
}


.btn-light { background: var(--light-color) }
.btn-primary { background: var(--primary-color) }
.btn-secondary { background: var(--secondary-color) }

.btn:hover {
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
  cursor: pointer;
}






/* Padding */
.py-1 { padding: 1.5rem 0 }
.py-2 { padding: 2rem 0 }
.py-3 { padding: 3rem 0 }

.p-1 { padding: 1.5rem }
.p-2 { padding: 2rem }
.p-3 { padding: 3rem }



/* Heading */
.l-heading {
  font-size: 3rem;
}








/* Margin */
.my-1 {
    margin: 1rem 0;
  }

.my-2 {
    margin: 2rem 0;
  }
.my-3 {
    margin: 3rem 0;
  }
.my-4 {
    margin: 4rem 0;
  }
