/////* variables */
:root {
  --primary-color: #ff677d;
  --secondary-color: #f39237;
  --dark-color: #333;

  --light-color: linear-gradient(to right,#d17760 25%, #5db2f8 100%);

  --linear-1st:#f39237;  --linear-2nd:#f39237;
  
  --max-width: 1280px;
}






/* Utility Classes */
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1.5rem;
  overflow: hidden;
}


.btn{
  display: inline-block;
  color: #fff;
  background-image: linear-gradient(to right, var(--linear-1st) 0%, var(--linear-2nd) 100%);
  padding: 6px 12px;
  border: none;
  border-radius: 20px; 
}


.btn:hover {
  opacity: 0.9;
  background: var(--light-color);
  color: #fff;
  cursor: pointer;
}

// .btn-light { background: var(--light-color) }
// .btn-primary { background: var(--primary-color) }
// .btn-secondary { background: var(--secondary-color) }







/* Padding */
.py-1 { padding: 1.5rem 0 }
.py-2 { padding: 2rem 0 }
.py-3 { padding: 3rem 0 }

.p-1 { padding: 1.5rem }
.p-2 { padding: 2rem }
.p-3 { padding: 3rem }



/* Heading */
.l-heading {
  font-size: 3rem;
}





/* Margin */
.my-1 {
    margin: 1rem 0;
  }

.my-2 {
    margin: 2rem 0;
  }
.my-3 {
    margin: 3rem 0;
  }
.my-4 {
    margin: 4rem 0;
  }
