@import './utilities';

/////* variables */
:root {
  --primary-color: #c72727;
  --secondary-color: #f99500;
  --light-color: linear-gradient(to right,#25d1c8 0%, #f5a962 100%);
  --dark-color: #333;
  --max-width: 1280px;
}





/////* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid #333; */
}

a {
  text-decoration: none;
  color: #fff;
}


ul {
  list-style: none;
}


p {
  margin: .5rem 0;
}

img {
  width: 100%;
}







//////* base styles */
body {
  font-family: "Dosis", sans-serif; 
  line-height: 1.5;
  background: #fff;
  // overflow-x: hidden;
}







/* fonts */








//////* mobile styles */





//////* small tablet styles */
@media screen and (min-width: 620px){
  
}





///////* large tablet & laptop styles */
@media screen and (min-width: 960px){


}




///////* desktop styles */
@media screen and (min-width: 1200px){

}